# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [57]:
import pandas as pd

In [89]:
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [58]:
!wget https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv

--2022-12-26 11:19:24--  https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 364975 (356K) [text/plain]
Saving to: 'chipotle.tsv.1'

     0K .......... .......... .......... .......... .......... 14% 2,69M 0s
    50K .......... .......... .......... .......... .......... 28% 8,26M 0s
   100K .......... .......... .......... .......... .......... 42% 4,15M 0s
   150K .......... .......... .......... .......... .......... 56% 3,71M 0s
   200K .......... .......... .......... .......... .......... 70% 22,4M 0s
   250K .......... .......... .......... .......... .......... 84% 3,89M 0s
   300K .......... .......... .......... .......... .......... 98% 67,7M 0s
   350K ......                                                100% 48,3M=0,06s

2022-12-26 11:19:24 (5,39 MB/s) - 'chipotle.tsv.1' saved [364975/364975]

### Step 3. Assign it to a variable called chipo.

In [59]:
chipo = pd.read_csv("chipotle.tsv", sep="\t")

### Step 4. See the first 10 entries

In [60]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [61]:
# Solution 1
chipo.shape[0]

4622

In [62]:
# Solution 2
len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [63]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [64]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [65]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [66]:
chipo.groupby("item_name").count().sort_values("order_id", ascending=False).reset_index().item_name[0]

'Chicken Bowl'

In [67]:
c = chipo.groupby("item_name").sum().sort_values("quantity", ascending=False)
c.head(1)

C:\Users\tarla\AppData\Local\Temp\ipykernel_6336\2439372834.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  c = chipo.groupby("item_name").sum().sort_values("quantity", ascending=False)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [68]:
c.head(1).quantity

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [69]:
d = chipo.groupby("choice_description").sum("quantity").sort_values("quantity", ascending=False).reset_index()
d.head(1)

  choice_description  order_id  quantity
0        [Diet Coke]    123455       159

### Step 12. How many items were orderd in total?

In [70]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [71]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

#### Step 13.b. Create a lambda function and change the type of item price

In [72]:
#new_item_price = [x[1:] for x in chipo.item_price]

chipo["item_price"] = chipo["item_price"].apply( lambda x: x[1:].strip())

In [74]:
chipo["item_price"] = chipo["item_price"].astype('float64')

#### Step 13.c. Check the item price type

In [77]:
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

### Step 14. How much was the revenue for the period in the dataset?

In [79]:
price = chipo.quantity * chipo.item_price 
print("Revenue: ",price.sum())

Revenue:  39237.02

### Step 15. How many orders were made in the period?

In [86]:
chipo.order_id.unique().shape

(1834,)

### Step 16. What is the average revenue amount per order?

In [87]:
# Solution 1
chipo["total_price"] = price
total_per_order = chipo.groupby("order_id").sum("total_price")

In [91]:
np.mean(total_per_order.total_price)

21.39423118865867

In [4]:
# Solution 2

### Step 17. How many different items are sold?

In [94]:
chipo.item_name.unique().shape

(50,)

In [95]:
chipo.item_name.value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: item_name, dtype: int64